#buy-stage #creature-display {
    position: absolute;
    top: 64vh;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2vh;
    border: 0.2vh solid var(--text);
    border-top-right-radius: 4vw;
    border-top-left-radius: 4vw;
    border-bottom: 0;
    padding: 2vh;
}

#buy-stage #creature-buying {
    transform-origin: left center;
    transform: scale(.6);
    position: absolute;
    top: 10vh;
    left: 0vw;
    padding: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2vh;
    border: .2vh solid var(--text);
    border-top-right-radius: 4vh;
    border-bottom-right-radius: 4vh;
    border-left: none;
    padding: 2vh;
}